$brand-blue: #33C3F0;
$brand-green: #5fba7d;
$brand-lgray: #E8E8E8;
$brand-gray: gray;
$brand-red : red;

@mixin heightify($height) {
  display: block;
  width: 100%;
  height: $height;
  overflow-x: hidden;
  position: relative;
}

html, body, #react-app,  #wrapper {
  @include heightify(100%);
}

* {
  margin: 0;
  padding: 0;
}

.align {
  display: block;
  width: 90%;
  margin:0 auto;
}

.field-heading {
  display: block;
  margin: 10px 0 20px;

  .title {
    font-size: 20px;
    font-weight: 200;
    color: $brand-blue;
  }
}

.fset {
  display: block;

  label {
    display: block;
    margin:0 auto 5px;
    font-size: 11px;
    font-weight: 400;
    color: $brand-gray;
    text-transform: uppercase;
  }

  input {
    display: block;
    width: 100%;
    padding: 5px 8px;
    border: 1px solid $brand-lgray;
    outline: none;
    font-size: 15px;
    font-weight: 100;
    border-radius: 2px;
    margin-bottom: 10px;
  }
}

.actico {
  display: inline-block;
  background: $brand-lgray;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: $brand-gray;
  outline: none!important;
  font-size: 14px;
  cursor: pointer;
}
