$brand-blue: #33C3F0;
$brand-green: #5fba7d;
$brand-lgray: #E8E8E8;
$brand-gray: gray;
$brand-red : red;

@mixin heightify($height) {
  display: block;
  width: 100%;
  height: $height;
  overflow-x: hidden;
  position: relative;
}

html, body, #react-app,  #wrapper {
  @include heightify(100%);
}

* {
  margin: 0;
  padding: 0;
}

.align {
  display: block;
  width: 90%;
  margin:0 auto;
}

.field-heading {
  display: block;
  margin: 10px 0 20px;

  .title {
    font-size: 20px;
    font-weight: 200;
    color: $brand-blue;
  }
}

.fset {
  display: block;

  label {
    display: block;
    margin:0 auto 5px;
    font-size: 11px;
    font-weight: 400;
    color: $brand-gray;
    text-transform: uppercase;
  }

  input {
    display: block;
    width: 100%;
    padding: 5px 8px;
    border: 1px solid $brand-lgray;
    outline: none;
    font-size: 15px;
    font-weight: 100;
    border-radius: 2px;
    margin-bottom: 10px;
  }

  .price-group {
    border: 1px solid #E8E8E8;
    height: 35px;
    overflow: hidden;
    border-radius: 2px;
    margin-bottom: 12px;
  
    span {
      float: left;
      width: 15%;
      height: 36px;
      text-align: center;
      color: gray;
      padding-top: 4px;
      background: #E8E8E8;
    }
  
    input {
      float: right;
      width: 85%;
      border: none;
      margin-bottom: 0;
    }
  
    &:after{
      content: '';
      display: block;
      clear: both;
    }
  }
}

.actico {
  display: inline-block;
  background: $brand-lgray;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: $brand-gray;
  outline: none!important;
  font-size: 14px;
  cursor: pointer;
}

.loader-overlay{
  z-index: 22;
  display: block;
  position: absolute;
  top: 0; left:0;
  width: 100%;
  height: 100%;

  .overlay {
    display: block;
    position: absolute;
    z-index: 20;
    background: white;
    opacity: 0.5;
    width: 100%;
    height: 100%;
  }

  .content {
    display: block;
    position: absolute;
    z-index: 21;
    width: 90%;
    height: 94%;
    top: 3%; left:5%;

    .main { 
      display: block;
      background: white;
      margin: 0 auto;
      padding: 30px 0 18px;

      img {
        display: block;
        margin: 0 auto;
        width: 150px;
        height: auto!important;
      }

      .text {
        display: block;
        font-size: 20px;
        font-weight: 200;
        text-align: center;
      }
    }
  }
}